@charset "UTF-8";
/*미디어쿼리:미디어의 가로크기가 768px 이상이면 아래 스타일 적용*/
@media all and (min-width:768px) {
	
/*헤더영역시작*/
.menu-toggle-btn {display:none;}
.header .gnb {
display:block;
position:static;/*absolute에서 static*/
background:none;
width:auto;
float:right;/*가로위치를 오른쪽으로 변경*/
margin-top:10px;
}
.header .gnb li {
float:left;
border:none;
width:95px;
}
.header .gnb li:last-child {border-bottom:none;}
.header .gnb li a {
display:inline-block;/*콘텐츠 크기만큼 자리를 차지하는 영역*/
color:#3f51b5;
}
.header .gnb li a:hover {text-decoration:none;}
/*헤더영역 끝*/
/*슬라이드영역시작*/
.carousel-item, .carousel-item img {height:500px;}
/*슬라이드영역끝*/

/*we are영역 시작*/
.float-clear {clear:both;}/*clear속성은 float작동을 없애는 역할*/
.weare-body li {
float:left;/*세로정렬을 가로정렬로*/
width:23.046875%;/*(177/768)x100 = 몇% */
margin-left:2.604166%;/*(20/768)x100= 몇%*/
overflow:hidden;/*반응형li박스에서 가로크기를 벗어나는 이미지내용은 숨김처리*/
}
.weare-body li img {width:100%; height:auto;}
.weare-body {margin:10px 3%;}/*가운데 정렬*/
.weare-body li:first-child {
margin-left:0px;
}
/*we are영역 끝*/
	
}	